body {
  display: flex;
}

.toast {
  z-index: 999;
  display: none;
  position: absolute;
  background-color: #A80000;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  background-color: #A80000;
  height: 100vh;
  width: 240px; /* 240px */
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  font-size: 1.5rem; /* 24px */
  font-weight: 900;
  margin-bottom: 10px;
}

.sidebar .nav {
  display: flex;
  flex-direction: column;
}

.sidebar .nav .link {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 0.9375rem; /* 15px */
  font-weight: 600;
  cursor: pointer;
}

.sidebar .nav .link:hover {
  filter: brightness(1.2);
}

.sidebar .personal-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .personal-info .btn-logout {
  width: min-content;
}

.sidebar .personal-info .username {
  font-size: 0.9375rem; /* 15px */
}

main {
  background-color: #E2E2E2;
  flex: 1;
  padding: 10px;
}

main .content {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

main .content header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

main .content header .title {
  font-size: 1.0625rem; /* 17px */
  font-weight: 600;
}

main .content header .btn-create {
  width: min-content;
}

main .content table {
  width: 100%;
}

main .content table thead th {
  text-align: left;
  padding: 12px 24px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 0.8125rem; /* 13px */
  font-weight: 600;
  color: #878787;
}

main .content table tbody td {
  text-align: left;
  padding: 12px 24px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 0.9375rem; /* 15px */
}

main .content table tbody td .actions {
  display: flex;
  width: min-content;
  gap: 10px;
}

main .content table tbody td .actions .action {
  cursor: pointer;
}

main .content table tbody td .actions .action:hover {
  filter: brightness(1.2);
}

.modal {
  margin: auto;
  padding: 10px;
  max-width: 50ch;
  width: 50ch;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.modal header .title {
  font-size: 1.0625rem; /* 17px */
  font-weight: 600;
}

.modal header .btn-close {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal form .form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.modal form .error-message {
  font-size: 0.8125rem; /* 13px */
  color: #A80000;
}

.modal form .container-form-field {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.modal form .form-field-select-editable {
  position: relative;
  display: inline-block;
  width: 100%;
}

.modal form #editable-serial-port {
  position: absolute;
  top: 18px;
  left: 0;
  width: 90%;
  border: none;
  background: transparent;
  box-sizing: border-box;
  font-family: inherit;
  padding-left: 15px;
  outline: none;
}

.modal form .container-form-field #btn-load-serial-port {
  padding: 0;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.modal form .container-form-field-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.modal form .container-form-field-info .title {
  font-size: 0.9375rem; /* 15px */
  font-weight: 600;
}

.modal form .container-form-field-info .info {
  display: flex;
  flex-direction: column;
}

.modal form .checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal form .checkbox-container .checkbox {
  height: 15px;
  width: 15px;
}

.modal form .container-serial-number {
  position: relative;
}

.modal form .container-serial-number svg {
  position: absolute;
  top: 10px;
  right: 2px;
  cursor: pointer;
}

.modal form .actions {
  display: flex;
  width: 100%;
  gap: 10px;
}

.modal form .actions .btn-cancel {
  background-color: #878787;
}
