body {
  display: flex;
}

button {
  width: 100%;
}

button {
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: #A80000;
  color: #FFF;
  font-size: 0.9375rem; /* 15px */
  font-weight: 600;
  cursor: pointer;
  padding: 0 10px;
}

button:hover {
  filter: brightness(1.2);
}

button:focus {
  filter: brightness(1.2);
  outline: none;
}

input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  padding: 0 10px;
  font-size: 0.9375rem; /* 15px */
  width: 100%;
}

input:focus {
  filter: brightness(1.2);
  outline-color: #A80000;
}

select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  padding: 0 10px;
  font-size: 0.9375rem; /* 15px */
  width: 100%;
}

select:focus {
  filter: brightness(1.2);
  outline-color: #A80000;
}

select:active {
  filter: brightness(1.2);
  outline-color: #A80000;
}

select:checked {
  filter: brightness(1.2);
  outline-color: #A80000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-create {
  min-width: 450px;
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
}

.modal-create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-create-header svg {
  cursor: pointer;
}

.modal-create-header span {
  font-size: 1.0625rem; /* 17px */
  font-weight: 600;
}

.modal-create form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-create .actions {
  display: flex;
  width: 100%;
  gap: 10px;
}

.modal-create .input-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.modal-create .select-form {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.modal-create .select-form button {
  padding: 0;
  width: 40px;
  align-items: center;
}

.modal-create .select-form-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.modal-create .select-form-info .info-title {
  font-size: 0.9375rem; /* 15px */
  font-weight: 600;
}

.modal-create .select-form-info .info {
  display: flex;
  flex-direction: column;
}

.modal-create .checkbox-form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-create .checkbox-form .auto-detection-serial-port {
  height: 15px;
  width: 15px;
}

.modal-create form .actions .btn-cancel {
  background-color: #878787;
}

.sidebar {
  background-color: #A80000;
  height: 100vh;
  width: 240px; /* 240px */
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  font-size: 1.5rem; /* 24px */
  font-weight: 900;
  margin-bottom: 10px;
}

.sidebar .nav {
  display: flex;
  flex-direction: column;
}

.sidebar .nav .link {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 0.9375rem; /* 15px */
  font-weight: 600;
  cursor: pointer;
}

.sidebar .nav .link:hover {
  filter: brightness(1.2);
}

.sidebar .personalInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .personalInfo #iconClose {
  cursor: pointer;
}

.sidebar .personalInfo #username {
  font-size: 0.9375rem; /* 15px */
}

.content {
  background-color: #E2E2E2;
  flex: 1;
  padding: 10px;
}

.content .card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.content .card .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.content .card .header span {
  font-size: 1.0625rem; /* 17px */
  font-weight: 600;
}

.content .card .header button {
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: #A80000;
  color: #FFF;
  font-size: 0.9375rem; /* 15px */
  font-weight: 600;
  cursor: pointer;
  padding: 0 10px;
}

.content .card .header button:hover {
  filter: brightness(1.2);
}

.content .card .header button:focus {
  filter: brightness(1.2);
  outline: none;
}

.content .card table {
  width: 100%;
}

.content .card table thead tr th {
  text-align: left;
  padding: 12px 24px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 0.8125rem; /* 13px */
  font-weight: 600;
  color: #878787;
}

.content .card table tbody tr td {
  text-align: left;
  padding: 12px 24px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 0.9375rem; /* 15px */
}

.content .card table tbody tr td .actions {
  display: flex;
  width: min-content;
  gap: 10px;
}

.content .card table tbody tr td .actions .action {
  cursor: pointer;
}

.content .card table tbody tr td .actions .action:hover {
  filter: brightness(1.2);
}
